
{% extends 'admin.html.twig' %}

{% block title %}Product Management{% endblock %}

{% block body %}
  <div class="page-heading pb-2 mt-4 mb-2">
    <h3>Product Manager</h3>
    <a href="{{ path('product_create') }}" class="btn btn-outline-primary">Add Product</a>
  </div>
  <div class="page-content">
    <div class="card">
      <div class="container mb-3">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Brand</th>
                <th>Created</th>
                <th>Quantity</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for product in products %}
              <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.brand }}</td>
                <td>{{ product.created|date("m/d/Y") }}</td>
                <td>{{ product.quantity }}</td>
                <td>
                  <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-sm btn-primary">Edit</a>
                   <a href="{{ path('product_delete', {'id':product.id}) }}" onclick="return confirm('Are you sure?')" class="btn btn-sm btn-danger">Delete</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

